{{- $posts := "" -}}

{{- if .section -}}
{{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
{{- if (eq .context.Kind "taxonomy") -}}
{{- $posts = .context.Pages -}}
{{- else -}}
{{- if (eq .context.Kind "term") -}}
{{- $posts = .context.Data.Pages -}}
{{- else -}}
{{- $posts = site.RegularPages }}
{{- end -}}
{{- end -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $posts) .limit)) -}}
{{- $limit_exceeded = true -}}
{{- else -}}
{{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $posts) 0) }}
{{- if .limit }}
{{ $posts = (first .limit $posts ) }}
{{ end }}
<ul class="art-container">
    {{- range $post := $posts -}}
    <li class="art-post">
        <div class="art-header">
            <a class="art-thumbnail" href="{{ .Permalink }}">
                {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail | relURL }}" class="art-bg-image">
                {{ else }}
                <div class="art-bg-image noimg-background"></div>
                {{ end }}
                <div class="art-bg-image art-hover-filter"></div>
            </a>
        </div>
        <a class="art-summary" href="{{ .Permalink }}" tabindex="-1">
            <p>
                <b> {{ $post.Title }} </b>
                <span class="art-date">{{- ($post.Date | time.Format site.Params.theme_config.date_format) }}</span>
            </p>
        </a>
    </li>
    {{ end }}
    {{- if and .show_more $limit_exceeded }}
    <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
    {{ end }}
</ul>
{{ end }}