// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color, $--highlight) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    &:visited { color: $--visited-link-color; }
  }

  details {
    border: thin solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    background: $--bg-color;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    background: $--highlight;
    color: $--primary-text-color;
   }

  table, th, td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption { color: $--secondary-text-color; }

  blockquote {
    border: thin solid $--primary-text-color;
  }
}

@mixin dark-appearance {
  @include theme(#000000, #ffffff, #000000, #79a8ff, #f78fe7, #2f3849); // modus-vivendi
}

@mixin light-appearance {
  @include theme(#e7dcff, #000000, #676767, #000000, #000000, #dae5ec); // modus-operandi
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  font-family: Open Sans;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: #8069b0;
  line-height: 50px;
  margin: 0;
}

h2 {
  font-size: 19px;
  text-align: left;
  color: #8069b0;
  line-height: 1.4;
  margin: 0;
}

h3 {
  font-size: 19px;
  text-align: center;
  color: #000000;
  line-height: 1;
  margin: 0;
}

h4 {
  font-size: 15px;
  text-align: left;
  color: #776f88;
  line-height: 1.4;
  margin: 0;
}

h5 {
  font-size: 15px;
  text-align: center;
  color: #776f88;
  line-height: 1;
  margin: 0;
  padding-bottom: 0.5rem;
}

h6 { margin-top: 1.5rem; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

a {
  text-decoration: underline;
  &:hover { text-decoration: underline; }
}

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  padding: 1rem;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.w {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 2px #a98ce8 ;
  border-top: solid 2px #a98ce8 ;
  border-left: solid 2px #a98ce8 ;
  border-right: solid 2px #a98ce8 ;
  background-color: #ffffff;
}

.page-content {
  padding-bottom: 3rem;
}

.header {
  max-width: 968px;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.toc {
  padding: 1rem;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 0rem;
  border: solid 2px #a98ce8 ;
  background-color: #ffffff
}

.header li {
  flex: 1 1 0px;
}

.header li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
  background-color: #eae0ff
}

// Contains general stylings for post

.posts-container {
  list-style: none;
  padding-left: 0;
}

.post {
  border: solid 2px black ;
}

.post a {
  text-decoration: none;
  width: 100%;
  display: block;
}

.post-header {
  background-color: #e3e3e347;
  border-bottom: solid 2px black ;
}

.post-header:hover .hover-filter{
  opacity: 0.7;
}

.post-summary {
  padding: 0.5rem;
  padding-top: 0.1rem;
}

.post-date {
  padding: 0;
  float: right;
}

.post-continue {
text-align: center;

}

.post-bg-image {
  position: absolute;   /* absolute */
  top: 0;               /* inset-0 */
  right: 0;             /* inset-0 */
  bottom: 0;            /* inset-0 */
  left: 0;              /* inset-0 */
  object-fit: cover;    /* object-cover */
  height: 100%;         /* h-full */
  width: 100%;          /* w-full */
  z-index: -10;         /* -z-10 */
}

.noimg-background {
  background-color: #d1d5db; /* bg-gray-300 */
}

.hover-filter {
  background: #ffffff;
  opacity: 0.3;
}

.post-thumbnail {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

// Contains styling for the art page

.art-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  gap: 1rem;
}

.art-post {
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
  border: solid 2px #000000 ;
}

@media (max-width: 500px) {
  .art-post {
    width: 100%;
  }
}

.art-post a {
  text-decoration: none;
  width: 100%;
  display: block;
}

.art-summary {
  padding: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  box-sizing: border-box;
}

.art-summary a {
  margin: 0;
}

.art-date {
  padding: 0rem;
  float: right;
}

.art-header {
  background-color: #e3e3e300;
  border-bottom: solid 2px #000000 ;
}

.art-hover-filter {
  background: #eae0ff;
  opacity: 0.0;
}

.art-header:hover .art-hover-filter{
  opacity: 0.5;
}

.art-thumbnail {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-top: 20rem;
  padding-bottom: 0.5rem;
}

.art-bg-image {
  position: absolute;   /* absolute */
  top: 0;               /* inset-0 */
  right: 0;             /* inset-0 */
  bottom: 0;            /* inset-0 */
  left: 0;              /* inset-0 */
  object-fit: cover;    /* object-cover */
  height: 100%;         /* h-full */
  width: 100%;          /* w-full */
  z-index: -10;         /* -z-10 */
}

// Contains stylings for the games page

.games-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  gap: 1rem;
}

.games-post {
  width: calc(30% - 0.5rem);
  box-sizing: border-box;
  border: solid 2px #000000 ;
}

@media (max-width: 500px) {
  .games-post {
    width: 100%;
  }
}

.games-post a {
  text-decoration: none;
  width: 100%;
  display: block;
}

.games-header {
  background-color: #e3e3e300;
  border-bottom: solid 2px #000000 ;
}

.games-hover-filter {
  background: #eae0ff;
  opacity: 0.0;
}

.games-header:hover .games-hover-filter{
  opacity: 0.5;
}

.games-thumbnail {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-top: 13rem;
  padding-bottom: 0.5rem;
}

.games-bg-image {
  position: absolute;   /* absolute */
  top: 0;               /* inset-0 */
  right: 0;             /* inset-0 */
  bottom: 0;            /* inset-0 */
  left: 0;              /* inset-0 */
  object-fit: cover;    /* object-cover */
  height: 100%;         /* h-full */
  width: 100%;          /* w-full */
  z-index: -10;         /* -z-10 */
}
